####################################
# TRAEFIK (REVERSE PROXY)
####################################

services:
    traefik:
        container_name: traefik
        image: library/traefik:v3.6.4@sha256:c5bd185c41ba3dbb42cf8a1b9fbdc368bdc96f90c8e598134879935f64e7a7f1
        ports:
            - published: 80
              target: 80
              protocol: tcp
              mode: host
        volumes:
            - ${DOCKER_DIRECTORY}/apps/traefik/rules:/rules
            - ${DOCKER_DIRECTORY}/appdata/traefik/logs:/logs
            - ${DOCKER_DIRECTORY}/appdata/traefik/traefik:/etc/traefik
            - ${DOCKER_DIRECTORY}/appdata/traefik/acme/acme.json:/acme.json
        networks:
            traefik:
            docker:
        security_opt:
            - no-new-privileges:true
        restart: always
        depends_on:
            - socket-proxy
        command:
            # GLOBAL SETTINGS
            - --global.checkNewVersion=true
            - --global.sendAnonymousUsage=false
            - --core.defaultRuleSyntax=v3
            # API SETTINGS
            - --api=true
            - --api.dashboard=true
            # LOGGING SETTINGS
            - --log=true
            - --log.level=INFO # DEBUG, INFO, WARN, ERROR, FATAL, PANIC
            - --accessLog=true
            - --accessLog.filePath=/logs/access.log
            - --accessLog.bufferingSize=100
            - --accessLog.filters.statusCodes=204-299,400-499,500-599
            # PROVIDERS
            - --providers.docker=true
            - --providers.docker.endpoint=tcp://socket-proxy:2375
            - --providers.docker.exposedByDefault=false
            - --providers.docker.network=homelab-core_traefik
            - --providers.file.directory=/rules
            - --providers.file.watch=true
            # ENTRYPOINTS
            - --entrypoints.web.address=:80
            - --entrypoints.traefik.address=:8080
        labels:
            traefik.enable: true
            traefik.http.routers.traefik-rtr.rule: Host(`${TRAEFIK_SUBDOMAIN:-traefik}.${DOMAIN_NAME}`)
            traefik.http.routers.traefik-rtr.entrypoints: web
            traefik.http.routers.traefik-rtr.service: api@internal
            traefik.http.routers.traefik-rtr.middlewares: chain-rate-limit@file
