services:
    homeassistant:
        container_name: homeassistant
        image: homeassistant/home-assistant:2025.12.3@sha256:c9da2a0a5738ceb26e1b4f672825c09371e51ae5e285beffa3072757b7817f3e
        profiles: ["miscellaneous", "all"]
        volumes:
            - ${DOCKER_DIRECTORY}/apps/homeassistant/configuration.yaml:/config/configuration.yaml
            - ${DOCKER_DIRECTORY}/appdata/homeassistant:/config
        environment:
            PUID: ${PUID}
            PGID: ${PGID}
            TZ: ${TZ}
        restart: ${UNIVERSAL_RESTART_POLICY:-unless-stopped}
        networks:
            traefik:
        security_opt:
            - no-new-privileges:true
        labels:
            traefik.enable: true
            traefik.http.routers.homeassistant-rtr.rule: Host(`${HOMEASSISTANT_SUBDOMAIN:-homeassistant}.${DOMAIN_NAME}`)
            traefik.http.routers.homeassistant-rtr.service: homeassistant-svc
            traefik.http.services.homeassistant-svc.loadbalancer.server.port: 8123
            traefik.http.routers.homeassistant-rtr.entrypoints: websecure
            traefik.http.routers.homeassistant-rtr.middlewares: chain-rate-limit@file
