# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json

name: renovate
on:
    workflow_dispatch:
    schedule:
        - cron: "0/15 * * * *"
    push:
        paths:
            - .github/workflows/renovate.yaml
            - .github/renovate-config.js
            - .renovaterc.json5
        branches:
            - gitops
jobs:
    renovate:
        name: renovate
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.workflow }}
            cancel-in-progress: false
        steps:
            - name: checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  ref: gitops
            - name: renovate
              uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
              with:
                  token: ${{ secrets.RENOVATE_TOKEN }}
                  configurationFile: .github/renovate-config.js
                  renovate-version: 42.39.1
              env:
                  RENOVATE_REPOSITORY: ${{ github.repository }}
                  RENOVATE_DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
                  RENOVATE_DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
                  LOG_LEVEL: info
